body {
	background-image: url(../img/main.jpg);
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

header,
footer {
	background-color: rgba(0, 0, 0, .3);
	height: 44px;
}
footer{
	display: none;
}
.menubox,
.footer-box,
.main-box {
	width: 100%;
	color: #999999;
	font-size: 12px;
	position: relative;
	overflow-x: hidden;
}
.main-box {
	flex: 1;
	/* display: flex; */
	/* padding-top: 8%; */
}

.logo {
	display: block;
	height: 24px;
	float: left;
	margin: 10px;
}

.menu {
	display: block;
	float: left;
}

.menu-item {
	line-height: 44px;
	cursor: pointer;
	font-size: 12px;
	padding: 5px 8px;
	border-bottom: 1px solid transparent;
}

.menu-item:hover,.menu-item-checked {
	color: #307e8f;
	font-weight: bold;
	border-bottom: 1px solid #307E8F;
	transition: all .5s;
}

.footer-box {
	display: none;
	font-size: 12px;
	/* padding-left: 5%; */
	height: 0px;
	/* margin-top: 26px; */
}

.foolter-item {
	line-height: 24px;
	display: inline-block;
}
.left-silder,.right-silder{
	flex: 1;
}
.right-silder{
	position: relative;
}
.title{
	display: none;
	line-height: 30px;
	text-align: left;
	margin-bottom: 110px;
	margin-left: 150px;
	flex: 1;
}
.title-ch{
	background-color: #307e8f;
	color: #ffffff;	
	padding: 5px 10px;
	font-weight: bold;
}
.info-box{	
	/* display: flex; */
}
.title-en{
	font-style: italic;
	color: #307e8f;
}
.info-pic{
	position: relative;
	height: 154px;
	max-width: 80%;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px auto;
	/* flex: 1; */
}
.info-list{
	/* flex: 1; */
	width: 90%;
	margin: 0 auto;
}
.info-title,
.info-content{
	line-height: 24px;
	/* padding-left: 10px; */
}
.info-detail{
	width: 90%;
	line-height: 24px;
	text-indent: 2em;
	margin: 10px auto;
}
.font-big,.font-small{
	font-family: serif;
	font-weight: bolder;
	line-height: 60px;
	padding-left: 40px;
}
.font-big{
	display: none;
	margin-top: 150px;
	font-size: 60px;	
}
.font-small{
	display: none;
	margin-top: 60px;
	font-size: 36px;
	font-style: italic;
}
.border-top,.border-bottom{
	border: rgba(0,255,255,.6) 1px solid;
	height: 340px;
	width:240px ;
	position: absolute;
}
.border-top{
	display: none;
	top: -100px;
	left: 20px;
	
}
.border-bottom{
	display: none;
	top: 150px;
	left: 150px;}
